Repository teamrebuild/Mayastor: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-style, rust-lint, js-check

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/nix-community/nixpkgs-fmt
    rev: v0.9.0
    hooks:
    -   id: nixpkgs-fmt
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.1.0
    hooks:
    -   id: trailing-whitespace
-   repo: local
    hooks:
    -   id: rust-style
        name: Rust style
        description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
        entry: cargo fmt --all -- --check
        pass_filenames: true
        types: [file, rust]
        language: system
    -   id: rust-lint
        name: Rust lint
        description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
        entry: cargo clippy --all --all-targets -- -D warnings
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: js-check
        name: JS style and lint
        description: Run semistandard on files included in the commit.
        entry: ./scripts/js-check.sh
        pass_filenames: true
        types: [file, javascript]
        language: system

test
  .github/workflows/build.yaml
Due: none

test
  .github/workflows/build.yaml
  mayastor-test/test_common.js
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
Due: rust-style, rust-lint, js-check

moac: msn is out of date (CAS-237)
  csi/moac/node_operator.js
  csi/moac/test/watcher_stub.js
  csi/moac/test/watcher_test.js
  csi/moac/watcher.js
Due: js-check

Try to fix CI lint stage
  .github/workflows/pr.yaml
Due: none

refactor: add actual types for each resource
  mayastor/src/subsys/mbus/registration.rs
  mbus-api/src/message_bus/v0.rs
  mbus-api/src/v0.rs
  nix/pkgs/mayastor/default.nix
  operators/node/src/main.rs
  rest/service/src/v0/children.rs
  rest/service/src/v0/nexuses.rs
  rest/service/src/v0/nodes.rs
  rest/service/src/v0/pools.rs
  rest/service/src/v0/replicas.rs
  rest/service/src/v0/volumes.rs
  rest/src/versions/v0.rs
  rest/tests/v0_test.rs
  services/common/src/wrapper/v0/mod.rs
  services/common/src/wrapper/v0/node_traits.rs
  services/common/src/wrapper/v0/pool.rs
  services/common/src/wrapper/v0/registry.rs
  services/common/src/wrapper/v0/volume.rs
  services/node/src/server.rs
  services/pool/src/server.rs
  services/pool/src/service.rs
  services/volume/src/server.rs
  services/volume/src/service.rs
Due: rust-style, rust-lint

Create commitlint.yml
  .github/workflows/commitlint.yml
Due: none

Update commitlint.yml
  .github/workflows/commitlint.yml
Due: none

feat: create test.txt
  test.txt
Due: none

testt
  a.txt
Due: none
